#calutilCalendar {
	font-family: Segoe UI, Tahoma, sans-serif;
	color: rgb(60, 60, 60);
	font-size: x-small;
	text-align: center;
	border-radius: 8px;
	border: 1px;
	border-color: rgb(245, 245, 245);
	border-style: solid;
	padding: 2px;
	background-color: rgb(245, 245, 245);
	font-weight: bold;
	border-collapse: separate;
	max-width: 180px;
	display: table;
}

.dayHead {
	font-weight: bold;
	border-style: none;
}

.headCell {
	font-weight: bold;
	font-size: x-small;
}

.unselectablepresent,
.unselectablepresentover {
	color: rgb(220, 220, 220);
	background-color: white;
	border: 1px;
	border-style: solid;
	border-color: white;
	border-radius: 5px;
	width: 20px;
	padding: 2px;
}

.selectablepresent,
.selectablepresentselected {
	color: rgb(60, 60, 60);
	background-color: white;
	border: 1px;
	border-style: solid;
	border-color: white;
	border-radius: 5px;
	width: 20px;
	padding: 2px;
}

.unselectableother,
.unselectableotherover {
	color: rgb(220, 220, 220);
	border: 1px;
	border-style: solid;
	border-color: rgb(245, 245, 245);
	border-radius: 5px;
	width: 20px;
	padding: 2px;
}

.selectableother,
.selectableotherselected {
	color: rgb(160, 160, 160);
	border: 1px;
	border-style: solid;
	border-color: rgb(245, 245, 245);
	border-radius: 5px;
	width: 20px;
	padding: 2px;
}

.selectableotherover,
.selectablepresentover,
.selectableotherselectedover,
.selectablepresentselectedover {
	color: rgb(60, 60, 60);
	background-color: white;
	border: 1px;
	border-style: solid;
	border-color: rgb(120, 120, 120);
	border-radius: 5px;
	width: 20px;
	padding: 2px;
}

.selectableotherselected,
.selectablepresentselected {
	border-color: rgb(120, 20, 20);
}